%h1.center
  Différences entre 2 articles
%p.center
  %span.grey
    lignes grises : lignes identiques dans les 2 articles
%p.center
  %span.pink
    lignes roses : lignes supprimées dans le 2<sup>ème</sup> article (à droite)
%p.center
  %span.green
    lignes vertes : lignes ajoutées dans le 2<sup>ème</sup> article (à droite)
%div.row
  %div.col-md-5.col-md-offset-1.center
    %h2
      %a{href: "/articles/#{@article_1.id_article_origin}"}="#{@article_1.nature}  #{@article_1.number}"
    %h3
      #{@article_1.start_date.strftime("%m/%d/%Y")} - #{@article_1.end_date.strftime("%m/%d/%Y")}
  %div.col-md-5.center
    %h2
      %a{href: "/articles/#{@article_2.id_article_origin}"}="#{@article_2.nature}  #{@article_2.number}"
    %h3
      #{@article_2.start_date.strftime("%m/%d/%Y")} - #{@article_2.end_date.strftime("%m/%d/%Y")}
- @diff_array.each do |line|
  - if line.first == " "
    %div.col-md-10.col-md-offset-1.grey= raw(line[1, line.length])
  - elsif line.first == "-"
    %div.col-md-5.col-md-offset-1.pink= raw(line[1, line.length])
  - elsif line.first == "+"
    %div.col-md-5.green= raw(line[1, line.length])
%div.col-md-10.col-md-offset-1
  %h3
    Modifié par
    %a{href: "/jarticles/#{@jarticle_modif.id_jarticle_origin}"}="#{@history_link_modif.title}"
  %p
    %blockquote=@jarticle_modif.text