%div.row
  %div.col-md-3.col-md-offset-1
    - other_versions = @article.versions.sort_by { |v| v.start_date }
    - index_before_current_version = other_versions.index { |v| v.id_article_origin == @article.id_article_origin } - 1
    %div{style: "margin: 30px 15px 15px;"}
      - if other_versions.length == 1
        %p #{other_versions.length} version disponible :
      - else
        %p #{other_versions.length} versions disponibles :
      - other_versions.each_with_index do |version, i|
        %p
          #{version.start_date.strftime("%d/%m/%Y")} au #{version.end_date.strftime("%d/%m/%Y")}
          - if version.id_article_origin == @article.id_article_origin
            %span{class:"glyphicon glyphicon-arrow-right", aria_hidden:"true", style: "margin-left: 10px"}
            - next
          %a{href: "/articles/#{version.id_article_origin}", title: "voir"}
            %span{class:"glyphicon glyphicon-eye-open", aria_hidden:"true", style: "margin-left: 10px"}
          - if i == index_before_current_version
            %a{href: "/articles/#{version.id_article_origin}/compare/#{@article.id_article_origin}", title: "comparer"}
              %span{class:"glyphicon glyphicon-random", aria_hidden:"true", style: "margin-left: 10px"}
  %div.col-md-6
    %h2
      %a{href: "/articles/#{@article.id_article_origin}"}="#{@article.nature}  #{@article.number}"
    %p
      %strong
        #{@article.start_date.strftime("%d/%m/%Y")} au #{@article.end_date.strftime("%d/%m/%Y")}
    = raw format_article_text(@article.text)
    -unless @article.nota.blank?
      %h3= "Nota "
      = raw format_article_text(@article.nota)
