%h2
  %a{href: "/articles/#{@article.id_article_origin}"}="#{@article.nature}  #{@article.number}"
= raw format_article_text(@article.text)
-unless @article.nota.blank?
  %h3= "Nota "
  = raw format_article_text(@article.nota)

