%div.row
  %div.col-md-9.col-md-offset-1

    %h1 Votre profil

    %label Votre email
    = current_user.email


- current_keywords = current_user.keywords.map{|k| "<option selected='selected' value='#{k.label}'>#{k.label}</option>"}.join

%div.row
  %div.col-md-9.col-md-offset-1
    %label Vos mots-clés
    = form_tag user_path(current_user), :method => :patch do
      = field_set_tag do
        %div.select-wrapper
          = select_tag "keywords", current_keywords.html_safe, :multiple => true
        = submit_tag 'mettre à jour'

:css
  #keywords {width: 100%;}
  .select-wrapper {margin: 15px;}