%h1=@section.title
- @section.articles.each do |a|
  %h2
    %a{href: "/articles/#{a.id_article_origin}"}="#{a.nature}  #{a.number}"
  %p= raw(a.text)
  -unless a.nota.blank?
    %h3= "Nota "
    %p= raw(a.nota)

= raw display_summary(@sub_sections, 'accordion')