%div.row
  %div.col-md-10.col-md-offset-1
    %h1
      #{@jorfcont_jtext_link.jorfcont.title}
      - unless @jtext.sequence_number.blank?
        \- Texte n°#{@jtext.sequence_number}

    %h2= @jtext.nature
    %p= @jtext.title_full

    - unless @jtext.nor.blank?
      %h2= "NOR : #{@jtext.nor}"
    %p= @jtext.permanent_link

    - if @jtext.jarticles.size > 0
      %h2 Articles
      %ul
        -@jtext.jarticles.each do |article|
          - jarticle_text = ""
          - article.text.each_line {|line|  jarticle_text += line.strip + "\n"}
          %li.margin-top=raw(jarticle_text.strip.chomp.gsub(/\n/, "<br/>").gsub(/« Art/, "<br/>« Art"))

    - if @jtext.keywords.size > 0
      %h2 Mots clés
      %ul
      - @jtext.keywords.map(&:label).each do |label|
        %li
          %a{href: "/keywords/#{label}"}="#{label}"

:css
.margin-top {margin-top: 10px;}